<div class="container">
  <div class="row">
    <div class="col">
      <app-panel panelTile="Lista personas" *ngIf="people">
          <div class="table-responsive">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th >
                      <h4>
                         Nombre
                      </h4>
                    </th>
                    <th >
                        <h4>Cumpleaños</h4>
                      </th>
                      <th>
                        <h4>Equipo de trabajo</h4>
                      </th>
                      <th>
                        <h4>Email</h4>
                      </th>
                      <th></th>
                      <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of people | async">
                    
                    <td>
                      <mat-chip-list>
                        <mat-chip>{{person.name}}</mat-chip>
                      </mat-chip-list>
                    </td>
                    <td >
                      <mat-chip-list>
                        <mat-chip>{{person.birthdate}}</mat-chip>
                      </mat-chip-list>
                    </td>
  
                    <td >
                      <mat-chip-list>
                        <mat-chip>{{person.team.name}}</mat-chip>
                      </mat-chip-list>
                    </td>
                    <td >
                      <mat-chip-list>
                        <mat-chip>{{person.email}}</mat-chip>
                      </mat-chip-list>
                    </td>
                    <td>
                      <button mat-button (click)="personForModificationSelected(person)"> Modificar</button>
                    </td>
                    <td>
                      <button mat-button (click)="deletePerson(person)"> Borrar</button>
                    </td>
                    
                  </tr>
                </tbody>  
              </table>

            </div>
            <button mat-button (click)="hidePeopleList()">Esconder lista de personas</button>
      </app-panel>
    
      <app-panel panelTitle="Agregar nueva persona"   [hidden]="people">
        <button mat-button (click)="showPeopleList()"> <u> Ver lista de personas</u></button>
        <form class="form" [formGroup]="personForm"  (ngSubmit)="createPerson(personForm.value)">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre"  formControlName="name" type="text" >
            </mat-form-field>
          
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email"  >
            </mat-form-field>

            <mat-form-field  class="full-width">
             
              <input matInput  [matDatepicker]="picker"  placeholder="Escoge el cumpleaños" formControlName="birthday"  #datePicker>
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-select   placeholder="Selecciona el equipo de trabajo" formControlName="team" >
                      <mat-option *ngFor="let team of teams | async" [value]="team" >
                        {{ team.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-auto">
                  <button mat-raised-button style="margin-bottom: 1em;" class="partial-margin" [disabled]="creatingTeam" (click)="enableCreateTeam()">Crear nuevo equipo</button>
                </div>
              </div>
            
              

            <div class="but-container">
              <button mat-raised-button  class="but" [disabled]="!personForm.valid" type="submit"  >Crear persona</button>
            </div>
        </form>
        <div class="but-container">
          <button mat-raised-button color="warn"   class="but"  (click)="resetPersonForm()">Reset</button>
        </div>
        <div *ngIf="modifyingPerson">

          <div class="but-container">
            <button mat-raised-button color="warn"  class="but"  (click)="modifyPerson()">Modificar persona</button>
          </div>
          <div class="but-container">
              <button mat-raised-button color="warn"  class="but"  (click)="cancelPersonModification()">Cancelar</button>
            </div>
        </div>
      </app-panel>
    </div>
    <div class="col" *ngIf="creatingTeam">
      <app-panel panelTitle="Agregar nuevo grupo de trabajo">
        <form class="form" [formGroup]="teamForm"  (ngSubmit)="createTeam(teamForm.value)">
          
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="name" type="text" >
          </mat-form-field>
          <div class="but-container">

            <button mat-raised-button  class="but" [disabled]="!teamForm.valid" type="submit"   >Crear grupo de trabajo</button>
          </div>

        </form>
        <div class="but-container">

          <button mat-raised-button color="warn"   class="but"  (click)="resetTeamForm()">Reset</button>
        </div>
        <div class="but-container">

          <button mat-raised-button color="warn"   class="but"  (click)="disableCreateTeam()">Cancelar</button>
        </div>
        </app-panel>
      </div>
    </div>
</div>