.home-title{
    text-align: center;
}

.card-head{
    background-color: #5DBCD2;
    border-radius: 0.5em;
    display: block;
    margin: auto;
    text-align: center; 
}

.logo-card{
    margin-top:1em;
    margin-bottom:1em;
}

