<mat-toolbar class="toolbar">
  <mat-grid-list cols="4" rowHeight="3.2em">
    <mat-grid-tile>
      <img src="http://www.psl.com.co/images/logo.png" alt="PSL" class="logo">
    </mat-grid-tile>
    <mat-grid-tile  colspan="2">
      <h1 class="title">Birthday Chatbot!</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button [matMenuTriggerFor]="menu" class="menu-button" mat-icon-button>
          <mat-icon>dehaze</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item (click)="routerService.navigateTo('home')">Home</button>
        <button mat-menu-item (click)="routerService.navigateTo('people')">People</button>
        <button mat-menu-item (click)="routerService.navigateTo('birthdays')">Birthdays</button>
      </mat-menu>
    </mat-grid-tile>

  </mat-grid-list>
  
</mat-toolbar>

<router-outlet></router-outlet>