<div class="container">
  <div class="row">
    <div class="col">
      <app-panel panelTitle="Lista de personas">
        <div class="table-responsive">

          <table class="table table-hover">
            <thead>
              <tr>
                <th >
                  <h4>
                    <b>
                      Nombre
                    </b>
                  </h4>
                </th>
                <th >
                  <h4>Se enviaron mensajes de cumpleaños</h4>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of people | async" (click)="personWasSelected(person)">
                
                  <td >
                    <mat-chip-list>
                      <mat-chip>{{person.name}}</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td style="width:30%;">
                    <mat-chip-list>
                      <mat-chip>{{person.printed}}</mat-chip>
                    </mat-chip-list>
                  </td>
                
              </tr>
            </tbody>  
          </table>
        </div>
      </app-panel>
    </div>

    <div class="col" *ngIf="messagesSelectedPerson">
      <app-panel panelTitle="Mensajes de {{selectedPerson.name}}">
        <div  >
          <p  *ngFor="let msg of messagesSelectedPerson">
            {{msg.message}}
          </p>
        </div>
      </app-panel>
    </div>

  </div>
</div>